<div class='assetAnalysis'>
     <h4 style ='text-align:center;'>
     Pump Summary
     </h4>
     <div>


           <p>
            Name : {{id}}
           <p>
           Type : {{type}}
           </p>
           <p>
           Rotation : {{rotation}}
           </p>
            <p>
           Current : {{current}}
           </p>

            <p>
           Pressure : {{pressure}}
           </p>

            <p>
           Flow Rate : {{flowRate}}
           </p>

            <p>
           Temperature : {{temperature}}
           </p>

            </div>

</div>
