<div class='assetAnalysis'>
     <div [ngStyle] = "{'text-align':'center', 'background':'lightgrey', 'box-shadow': '3px 3px 3px 3px'}">

            <h4 [ngStyle] = "{'border-bottom':'2px solid', 'background-color':riskColor}">Selected Asset</h4>
          
      
            <p > Name : {{id}}</p>  
            

           
           <p> Type : {{type}} </p>
           
           <p>
           Rotation : {{rotation}}
           </p>

            <p>
           Current : {{current}}
           </p>

            <p>
           Pressure : {{pressure}}
           </p>

            <p>
           Flow Rate : {{flowRate}}
           </p>

            <p>
           Temperature : {{temperature}}
           </p>

            </div>

</div>
