asset-event-producer/target/
asset-consumer/target/
asset-consumer/.settings/
asset-dashboard-bff/target/
asset-dashboard-ui/node_modules/
asset-itests/.settings/
asset-itests/target/
asset-consumer-spring/target/
asset-consumer-spring/.settings/
asset-consumer-function/bin/
asset-consumer-function/node_modules/
asset-consumer-function/.serverless/

