asset-event-producer/target/
asset-consumer/target/
asset-consumer/.settings/
asset-dashboard-bff/target/
asset-dashboard-ui/node_module/
asset-itests/.settings/
asset-itests/target/
asset-consumer-spring/target/
asset-consumer-spring/.settings/

