
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px
  }

.mat-table {
    padding: 1vh 2vh;
    margin: auto;
    display: table;
}

th.mat-header-cell {
    
    padding: 10px 15px;
}