.wrapper {
width:100%;
margin : 0;
}

.riskCategory{
width:33%;
margin : 0;
float : left;
padding: 10px
}

#riskCategories{
    margin: auto;
}

.summary{
  width:50%;
  margin : 0;
  float: left
}

.split{
  margin : 20px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px
}

.bottomsplit{
  width:32%;
  margin : 0;
  float: left
}
