
<div id ='top' class = 'wrapper' style= 'background-color:palegoldenrod'>

  <div id = 'map' class ='split'>
    <assetAnalysis id = '1' type = 'meter' version = '1' rotation = 50 current = 10 pressure = 5 flowRate = 12 temperature = 19> </assetAnalysis>
  </div>

  <div id = 'pumpSummary' class = 'split'>
   <div id = 'riskCategories' style = 'display:inline-block; width:500px' class = 'wrapper'>
     <assetRisk id ='high' count = {{riskAnalysis.highRiskCount}} riskName = 'High Risk' color = 'red' class = 'riskCategory'> </assetRisk>
     <assetRisk id ='medium' count = {{riskAnalysis.mediumRiskCount}} riskName = 'Medium Risk' color = 'yellow' class = 'riskCategory'> </assetRisk>
     <assetRisk id ='low' count = {{riskAnalysis.lowRiskCount}} riskName = 'Low Risk' color = 'green' class = 'riskCategory'> </assetRisk>
    </div>

    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Id</th>
          <th>Type</th>
          <th>Version</th>
          <th>Pressure</th>
          <th>Flow</th>
          <th>Temperature</th>
        </tr>
      </thead>
      <tbody>
        <tr class="asset" *ngFor="let asset of assets;let i = index">
           <td>{{asset.id}}</td>
           <td>{{asset.type}}</td>
           <td>{{asset.version}}</td>
           <td>{{asset.pressure}}</td>
           <td>{{asset.flowRate}}</td>
          <td>{{asset.temperature}}</td>
      </tbody>
    </table>

   <div id ='pumpDetails'>


    </div>

 </div>


</div>




<div id = 'bottom' class = 'wrapper' style ='background-color: lightgreen'>

 <div id = 'mapSummary' class = 'split'>
   <div id ='PLACEHOLDER' style = 'width : 50px; height : 50px; background-color: lightblue'> Map Summary</div>
 </div>

 <div id = 'chartSummary' class = 'split'>
   <div id ='PLACEHOLDER' style = 'width : 50px; height : 50px; background-color: lightblue'> Chart Summary</div>

 </div>

</div>
