
<div id ='top' class = 'wrapper' style= 'background-color:palegoldenrod'>

  <div id = 'map' class ='split'>
    <div id ='PLACEHOLDER' style = 'width : 50px; height : 50px; background-color: lightblue'> Map</div>

  </div>

  <div id = 'pumpSummary' class = 'split'>
   <div id = 'riskCategories' style = 'display:inline-block; width:500px' class = 'wrapper'>
     <assetRisk id ='high' count = '3' riskName = 'High Risk' color = 'red' class = 'riskCategory'> </assetRisk>
     <assetRisk id ='medium' count = '6' riskName = 'Medium Risk' color = 'yellow' class = 'riskCategory'> </assetRisk>
     <assetRisk id ='low' count = '11' riskName = 'Low Risk' color = 'green' class = 'riskCategory'> </assetRisk>
    </div>

   <div id ='pumpDetails'>
     <div id ='PLACEHOLDER' style = 'width : 50px; height : 50px; background-color: lightblue'> Pump Details</div>
<!--
     <table>
    <tr ng-repeat="x in assets">
      <td>{{ x.id }}</td>
      <td>{{ x.pressure }}</td>
    </tr>
  </table>
-->
    </div>

 </div>


</div>




<div id = 'bottom' class = 'wrapper' style ='background-color: lightgreen'>

 <div id = 'mapSummary' class = 'split'>
   <div id ='PLACEHOLDER' style = 'width : 50px; height : 50px; background-color: lightblue'> Map Summary</div>
 </div>

 <div id = 'chartSummary' class = 'split'>
   <div id ='PLACEHOLDER' style = 'width : 50px; height : 50px; background-color: lightblue'> Chart Summary</div>

 </div>

</div>
