
<div id ='top'>
   <div class="row">
      <div class="col-md-6">
         <div id = 'map'>
            <div id = 'mapSummary'>
                <leafletMap [assets] = "assets"></leafletMap>
            </div>
         </div>
      </div>
      <div class="col-md-6">
        <div id = 'pumpSummary'>
            <div id = 'riskCategories' class="row">
                <assetRisk id ='high' count = {{riskCounters.high}} riskName = 'High Risk' color = 'red' class = 'riskCategory'> </assetRisk>
                <assetRisk id ='medium' count = {{riskCounters.medium}} riskName = 'Medium Risk' color = '#f48942' class = 'riskCategory'> </assetRisk>
                <assetRisk id ='low' count = {{riskCounters.low}} riskName = 'Low Risk' color = 'green' class = 'riskCategory'> </assetRisk>
            </div>
            <!-- present the assets information in table format -->
            <div *ngIf='assets'>
              <dashboard-table class="row" (selectedAsset)="getSelectedAsset($event)" [data]="assets"></dashboard-table>
            </div>
        </div>
      </div>
   </div>
</div>


<div id = 'bottom'>
   <div class="row">
      <div class="col-md-3">
         <assetAnalysis [asset] = "selectedAssetAnalysis"></assetAnalysis>
      </div>
      <div class="col-md-9">
         <dashboard-chart [selectedAsset] = "selectedAssetAnalysis" [dataSource] = "assets"></dashboard-chart>
      </div>
   </div>
</div>
