<div id = 'chartSelector' class = 'col-md-8'>
   <canvas id="line-chart" width="400" height="200"></canvas>
</div>

<div id = 'chartSummary' class = 'col-md-4'>
    <h4 [ngStyle] = "{'border-bottom':'2px solid'}"> Chart Summary </h4>
    <div>Selected Pump: {{selectedAsset.id}}</div>
    <div>Select Date Range: </div>
    <input type="date" class="pumpDate" id = "min"><br>
    <div>To: </div>
    <input type="date" class="pumpDate" id = "max"><br>
    <br>
   <!-- <div> Select Attribute: </div> -->
    <!--<select id = "attrSelector">
      <option value="temperature">Temperature</option>
      <option value="pressure">Pressure</option>
      <option value="flow">Flow</option>
      <option value="current">Current</option>
      <option value="rotation">Rotation</option>
    </select> -->
    <mat-form-field>
      <mat-select placeholder="Select Attribute" [(value)]="selectedAttribute" >
        <mat-option *ngFor="let attribute of attributes" [value] = "attribute.value">
          {{attribute.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button class = "asset" (click)="filterData(selectedAsset)">Plot</button>
 </div>
