<div class="dash-row">
    <button mat-raised-button (click)="monitor()">Start Monitoring Asset</button>
</div>
<div class="dashboard-table">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="riskColor">
            <th mat-header-cell *matHeaderCellDef> Risk </th>
            <td mat-cell *matCellDef="let asset"><span class="dot" [ngStyle] = "{'background-color':asset.riskColor}"></span></td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let asset"> {{asset.id}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let asset"> {{asset.type}} </td>
        </ng-container>
        <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Version </th>
            <td mat-cell *matCellDef="let asset"> {{asset.version}} </td>
        </ng-container>
        <ng-container matColumnDef="pressure">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pressure </th>
            <td mat-cell *matCellDef="let asset"> {{asset.pressure}} </td>
        </ng-container>
        <ng-container matColumnDef="flowRate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Flow Rate </th>
            <td mat-cell *matCellDef="let asset"> {{asset.flowRate}} </td>
        </ng-container>
        <ng-container matColumnDef="temperature">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Temp. </th>
            <td mat-cell *matCellDef="let asset"> {{asset.temperature}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click) = tableClick(row);></tr>

    </table>
</div>
